@using System.Globalization
@using System.Web
@model EventCalendar.Models.Event 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="form">
    <h2>Details</h2>
        <input type="hidden" name="id" value="@Model.Id" />
        <label>
            Start Date:
            <input type="datetime-local" name="start_date" id="start_date" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" disabled/>
            <br />
        </label>
        <label>
            End Date:
            <input type="datetime-local" name="end_date" id="end_date" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" disabled />
            <br />

        </label>
        <label>
            Name:
            <input asp-for="Title" name="title" id="title" value="@Model.Title" disabled />
            <br />

        </label>
        <label>
            Description:
            <input asp-for="Description" name="description" id="description" value="@Model.Description" disabled />
            <br />
        </label>
    <a href="/Event/Update/@Model.Id">Update</a>
    <form method="post" asp-action="Delete"  asp-route-id="@Model.Id">
        <button type="submit">Delete</button>
    </form>
</div>

